footer {
  background-color: rgb(23, 37, 63 ); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: #f9f0f0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-logo img {
  height: 100px;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  display: inline-block;
  margin-left: 20px;
}

footer a {
  color: #f9f0f0;
  text-decoration: none;
}

footer a:hover {
  color: #0077c2;
}

footer p {
  color: white;
}
